@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="text-primary">Total Users @ViewBag.Totalrecords</h3>
    <button class="btn btn-dark rounded-pill"><a class="text-decoration-none text-light" asp-controller="User" asp-action="Register">Click to add more users</a></button>
</div>
